@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

body, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: normal;
    font-size: 2em;
}