@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

p {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2rem;
    color: rgb(48, 50, 51);
}

.about h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: normal;
}

.about h2 {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: normal;
}

.avatar img {
    width: 40rem;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}